<div class="grid formgrid p-fluid">
  <div class="field mb-4 col-12"><label for="city" class="font-medium text-900">City</label>
    <div id="background-img-avatar"  style="background-image: url({{!image1?itemimage1:image1|async}});">
    </div>
    <input type='file' id="imageUpload1" accept=".png, .jpg, .jpeg" (change)="onimage1($event)" />

  </div>
  <div class="field mb-4 col-12 md:col-6"><label for="city" class="font-medium text-900">City</label>
    <input [(ngModel)]="name_ville_ar" id="city" type="text" pinputtext="" class="p-inputtext p-component p-element">
  </div>
  <div class="field mb-4 col-12 md:col-6"><label for="state" class="font-medium text-900">State</label>
    <input [(ngModel)]="name_ville_fr" id="state" type="text" pinputtext="" class="p-inputtext p-component p-element">
  </div>
  <div class="field mb-4 col-12 md:col-6"><label for="state" class="font-medium text-900">State</label>
    <p-dropdown [options]="regions" [(ngModel)]="selectedCity" optionLabel="value.name_region_fr"></p-dropdown>
  </div>

</div>
<div class="col-12">
  <button (click)="update()" *ngIf="Numpi" pbutton="" pripple="" label="Save Changes"
    class="p-element p-ripple w-auto mt-3 p-button p-component">
    <span class="p-button-label">update</span>
    <span class="p-ink" style="height: 154px; width: 154px; top: -59px; left: -19.2px;"></span>
  </button>
  <button (click)="addvilles()" *ngIf="!Numpi" pbutton="" pripple="" label="Save Changes"
    class="p-element p-ripple w-auto mt-3 p-button p-component">
    <span class="p-button-label">add</span>
    <span class="p-ink" style="height: 154px; width: 154px; top: -59px; left: -19.2px;">
    </span>
  </button>
</div>
