/* You can add global styles to this file, and also import other style files */
#background-img-avatar
{
  width:100px; height:100px; background-repeat: no-repeat; background-size: cover; border-radius: 50%;
}
